body {
    background-color:skyblue
}

a{
    background-color: #8dd3d3;
    padding:10px;
    color: black;
}

a:hover{
    color: blue;
}
form.center
{
    border:solid black;
    padding: 20px;
    width:30%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.navbar
{
    padding: 20px;
    text-align: center;

}

h1{
    text-align: center;
}

td{
    padding : 5px;
}